<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <title>Home</title>
</head>
<body>
    <div id="heading_box">
        Welcome to Book Store!
    </div>
    <div id="info_container">
        <div id="info_box">
            This Book Store is a small collection of the most beloved books from different authors and genres. Feel free to visit any of the below links to start browsing. HAVE FUN!
        </div>
        <a href="/books"><div class="link_box">
            Go To Books
            <img src="/arrow.png" />
        </div></a>
        <a href="/authors"><div class="link_box">
            Go To Authors
            <img src="/arrow.png" />
        </div></a>
        <a href="/genres"><div class="link_box">
            Go To Genres
            <img src="/arrow.png" />
        </div></a>
    </div>
    <div id="footer_box">
        Made by Aarush Kashyap
        <a href="https://github.com/Aarush-Kashyap-221CS201/"><img src="github.png" /></a>
    </div>
</body>
</html>